<h4>Archived Tasklists</h4>
<ul>
  <% @tasklists.each do |tasklist| %>
  <li><%= tasklist.title %></li>
  <%= button_to "Delete Tasklist", tasklist_path(tasklist), method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
  <% end %>
</ul>
